.panel {
    display: none;
    padding: 0 10px;
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .panel p {
    margin: 0;
  }
  
  .panel p a {
    color: #333;
    text-decoration: none;
  }
  
  .panel p a:hover {
    text-decoration: underline;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"] + label {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked + label + .panel {
    display: block;
  }


  .product {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    max-width: 20%;
    border-radius: 5px;
  }
  
  .product h2 {
    margin-top: 15px;
    font-size: 24px;
  }
  
  .product p {
    margin-bottom: 10px;
  }
  
  .product button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product button:hover {
    background-color: #2980b9;
  }