@font-face {
  font-family: 'MeowsFont';
  src: url('Meows-VGWjy.ttf') format('woff2')
}

*{
  font-family: 'MeowsFont', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.menu {
  background-color: #34495e;
  color: white;
  padding: 10px;
  margin-top: 0;
  padding-left: 20px;
}

.padded {
  padding-left: 20px;
}

.panel {
    display: none;
    padding: 0 10px;
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .panel p {
    margin: 0;
  }
  
  .panel p a {
    color: #333;
    text-decoration: none;
  }
  
  .panel p a:hover {
    text-decoration: underline;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"] + label {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    width: auto;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked + label + .panel {
    display: block;
  }

  footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
  }


  .product {
    margin-bottom: 40px;
    border: 4px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .ImageSize {
    max-width: 100%;
    height: auto;
  }
  
  .product h2 {
    margin-top: 15px;
    font-size: 24px;
  }
  
  .product p {
    margin-bottom: 10px;
  }
  
  .product button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product button:hover {
    background-color: #2980b9;
  }

  .position {
    position: absolute;
    top: 280px;
    right: 400px;
  }

  .position2 {
    position: absolute;
    top: 900px;
    right: 400px;
  }

  .image {
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
  }
  
  .image-container {
    position: absolute;
    width: 300px; 
    height: 300px;
    overflow: hidden;
  }

  .image-container2 {
    margin-top: 300px;
    position: absolute;
    width: 300px; 
    height: 300px;
    overflow: hidden;
  }
  
  .second-container {
    opacity: 0; 
    pointer-events: none;
  }
  
  .first-container:hover {
    opacity: 0; 
    pointer-events: none;
  }
  
  .first-container:hover + .second-container {
    opacity: 1; 
    pointer-events: auto; 
  }

  .paragraph{
    margin-right: 50%;
  }




  *{
    font-family: 'MeowsFont', sans-serif;
    font-size: 16px;
  }

  .ImageSize {
    max-width: 300px;
    border-radius: 5px;
  }
.image {
  display: none;
}
  
@media screen and (min-width: 880px) {
  .image {
    display: inline; 
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  *{
    font-family: 'MeowsFont', sans-serif;
    font-size: 25px;
  }

  .image {
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
  }

  .image-container2 {
    margin-top: 500px;
    position: absolute;
    width: 300px; 
    height: 300px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .image-container2 {
    margin-top: 240px;
    position: absolute;
    width: 300px; 
    height: 300px;
    overflow: hidden;
  }
}